<template>
    <v-footer class="pa-4" style="background: transparent;">

        <v-row class="text-center grey--text">
            <v-col cols="12" class="py-0">
                <small>Git repository <a href="https://github.com/sokadz/cant-unsee.git" target="_blank">Click</a>!</small>
            </v-col>
        </v-row>
    </v-footer>
</template>


<script>
export default {
    name: 'Footer'
};
</script>


<style scoped>
a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
</style>